@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jacquard", sans-serif;
}

.container{
    background: #e6eae6;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
.content{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.content::before{
    background-color: rgba(0, 0, 0, 0.5);
}

/*navigation bar*/
.nav{
    width: 100%;
    height: 110px;
    background-color: #008a20;
    padding: 35px 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    margin-left: 30px;
}
.logo h1{
    color: lightgreen;
    font-size: 38px;
    font-weight: 700;
    text-decoration: underline;
}
.logo p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.nav ul li{
    margin-left: 70px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: 1s ease;
}
span{
    color: lightgreen;
}
.nav ul li a:hover{
  color: lightgreen;
}

/* Main Content */
.home-section{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-section h1{
    font-size: 58px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.home-section p{
    width: 850px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    line-height: 30px;
}
.btn{
    width: 170px;
    height: 50px;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 60px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 1s ease;
}
.btn:hover{
    color: #008f11;
    background: #e6eae6;
}


/*About Us.*/
.sect-text{
    margin-top: 110px;
}
.main-text{
  padding: 0px 80px;
}
.main-text h1{
    font-size: 30px;
    font-weight: 700;
    color: #008a20;
}
.main-text p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 30px;
}
.top-sect{
  width: 100%;
  height: 200px;
  background-image: url(./images/1000_F_135546694_K5YOa0ZHOLL6wN7oeQ7cLjEjOCPNV3ug.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-top: 90px;
}
.top-sect h1{
  width: 100%;
  height: 100%;
  font-size: 60px;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 60px;
}
.infor{
    width: 100%;
    height: 400px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.infor img{
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 90px 0 0 80px;
    border-radius: 10px;
}
.infor-text{
  height: 300px;
  margin: 90px 80px 0 50px;
}
.infor p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}
.infor-text .button{
    width: 170px;
    height: 50px;
    margin-top: 40px;
    border-radius: 50px;
    background: #e6eae6;
    border: 1px solid #008a20;
    color: #008a20;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 1s ease;
}
.infor-text .button:hover{
    transform: scale(1.1);
}

/***************Services****************/
.service-section{
    margin-top: 110px;
}
.serv-header h1{
    font-size: 34px;
    font-weight: 700;
    color: #008a20;
    text-align: center;
    margin-top: 50px;
    position: relative;
}
.serv-header h1::before{
    content: "";
    height: 2px;
    width: 520px;
    background-color: #008a20;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
}
.serv-header h1::after{
    content: "";
    height: 2px;
    width: 520px;
    background-color: #008a20;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
}
.planning{
    padding: 80px;
}
.planning h1{
    font-size: 28px;
    font-weight: 700;
    color: black;
}
.cards-sect{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.cards{
    width: 280px;
    height: 300px;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
.cards img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.cards p{
    font-size: 14px;
    font-weight: 200;
    margin-top: 10px;
}
.implement{
    margin: 0 80px 0 80px;
}
.implement h1{
    font-size: 28px;
    font-weight: 700;
    color: black;
}
.implement ul{
    list-style: none;
    margin-top: 15px;
}
.implement ul li{
    font-size: 16px;
    font-weight: 400px;
    margin-top: 8px;
}
.cards-implem1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.card2{
    width: 280px;
    height: 230px;
    background-color: white;
    border-radius: 5px;
}
.card2 img{
    width: 100%;
    height: 230px;
    border-radius: 5px;
    object-fit: cover;
}
.maintanance{
    margin: 80px 80px 0 80px;
}
.maintanance h1{
    font-size: 28px;
    font-weight: 700;
    color: black;
}
.maintanance ul{
    list-style: none;
    margin-top: 15px;
}
.maintanance ul li{
    font-size: 16px;
    font-weight: 400px;
    margin-top: 8px;
}
.cards-maintain{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}
.card3{
    width: 280px;
    height: 230px;
    background-color: white;
    border-radius: 5px;
}
.card3 img{
    width: 100%;
    height: 230px;
    border-radius: 5px;
    object-fit: cover;
}









/***************Footer****************/
.footer{
    height: 120px;
    background: #008a20;
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.address{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-left: 80px;
}
.call{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-left: 100px;
}
.follow{
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.follow p{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.icons{
    margin-left: 10px;
}
.icons i{
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
}
.icons i:hover{
    transform: scale(1.1);
}