*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background: #e6eae6;
}
.overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
.section{
    width: 100%;
    height: 100vh;
    background-image: url(./images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.section::before{
    background-color: rgba(0, 0, 0, 0.5);
}

/*navigation bar*/
.nav{
    width: 100%;
    height: 110px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 35px 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    margin-left: 30px;
}
.logo h1{
    color: #008f11;
    font-size: 38px;
    font-weight: 700;
    text-decoration: underline;
}
.logo p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.nav ul li{
    margin-left: 70px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    color: white;
}

/* Main Content */
.content{
    position: relative;
    top: 220px;
}
.content h1{
    font-size: 58px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.content p{
    width: 850px;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    line-height: 30px;
}
.btn{
    width: 170px;
    height: 50px;
    position: relative;
    left: 45%;
    margin-top: 60px;
    border-radius: 50px;
    border: none;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 1s ease;
}
.btn:hover{
    color: #008f11;
    background: #e6eae6;
}


/*About Us.*/
.top-sect{
    width: 100%;
    height: 200px;
    background-image: url(./images/image1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.top-sect h1{
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-weight: 700;
    color: white;
    text-align: center;
    padding-top: 60px;
}
.sect-text{
    margin-top: 50px;
    padding: 0 80px;
}
.main-text h1{
    font-size: 30px;
    font-weight: 700;
    color: green;
}
.main-text p{
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}
.infor{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}