@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jacquard", sans-serif;
}

.container{
    background: #e6eae6;
}
.overlay{
    width: 100%;
    height: 500px;
    background-color: black;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}
.content{
    width: 100%;
    height: 500px;
    background-image: url(./images/back.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*navigation bar*/
.nav{
    width: 100%;
    height: 110px;
    background-color: #008a20;
    padding: 35px 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.logo{
    margin-left: 30px;
}
.logo h1{
    color: lightgreen;
    font-size: 38px;
    font-weight: 700;
    text-decoration: underline;
}
.logo p{
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-decoration: underline;
}
.nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}
.nav ul li{
    margin-left: 70px;
    list-style: none;
}
.nav ul li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
    transition: 1s ease;
}
.nav ul li a:hover{
  color: lightgreen;
}
.home-section{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-section h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
}

/**************Section***************/
.service-sect{
    padding: 60px;
}
.service-sect h1{
    font-size: 22px;
    font-weight: 400;
    color: #008a20;
}
.cards-sect{
    margin-top: 40px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards{
    width: 280px;
    height: 260px;
    display: block;
    position: relative;
}
.cards img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 5px;
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    opacity: 1;
    transition: 1s ease;
}
.img-overlay:hover{
    background-color: rgba(0, 0, 0, 0.7);
}
.img-text{
    color: white;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    padding: 20px;
    transition: 1s ease;
}
.cards2-sect{
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards3-sect{
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards4-sect{
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cards5-sect{
    margin-top: 80px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/***************Footer****************/
.footer{
    height: 120px;
    background: #008a20;
    margin-top: 100px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.address{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-left: 80px;
}
.call{
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-left: 100px;
}
.follow{
    margin-right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}
.follow p{
    font-size: 20px;
    font-weight: 400;
    color: white;
}
.icons{
    margin-left: 10px;
}
.icons i{
    font-size: 30px;
    margin-left: 15px;
    cursor: pointer;
}
.icons i:hover{
    transform: scale(1.1);
}